body {
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    flex-wrap: wrap;
}

header {
    width: 100%;
    border-bottom: 2px solid black;
    height: 10vh;
    text-transform: uppercase;
}

h1 {
    margin-bottom: 0px;
}

footer {
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
}

footer p {
    margin-left: 20px;
}