* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
.container {
    max-width: 85vw;
    display: flex;
    height: 40vh;
}

.container section {
    display: flex;
    text-align: center;
}

.container span {
    border: 1px solid black;
    padding: 12px;
    display: block;
}

.container .week {
    width: 75%;
    flex-wrap: wrap;
}

.container .week span {
    width: 20%;
    height: 25%;
}

.container .week span:nth-child(1),
.container .week span:nth-child(7) {
    width: 100%;
}

.container .week span:nth-child(8),
.container .week span:nth-child(9) {
    width: 50%;
}

.container .notes {
    width: 25%;
    flex-direction: column;
}

.container .notes span {
    flex: 1 1 50%;
}