body {
    background-color: rgb(238, 238, 238);
    margin: 24px 64px;
}

header {
    display: flex;
    align-items: center;
    width: 100vw;
    border-bottom: 2px solid gray;
}

.page {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

main {
    width: 70vw;
}

blockquote,
h2 {
    font-family: Georgia, serif;
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

/* OLDER EXERCISE */

header p {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

li {
    padding-left: 8px;
    font-size: 14px;
}


.first-img {
    float: right;
}

.second-img {
    float: left;
    margin-right: 10px;
}

img{
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
    border: 2px solid black;
    padding: 6px;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

section {
    margin-bottom: 20px;
}

blockquote {
    font-family: Georgia, serif;
}

section, blockquote{
    display: inline-block;
}

.left-side{
    width: 40%;
    padding-right: 4%;
    border-right: 2px solid gray;
}

.right-side{
    width: 40%;
    padding-left: 4%;
    font-style: italic;
    color: gray;
    vertical-align: top;
}

p{
    margin: 20px 0 20px 0;
}

.author{
    text-align: right;
    padding-top: 20px;
}

aside {
    grid-area: aside;
}