html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 80vh;
    margin-top: 80px;
}

h1,
h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-bottom: 24px;
    font-weight: 500;
}

p {
    margin-bottom: 12px;
    color: #949494;
}

section {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    height: 80vh;
    background-color: white;
    padding: 48px 80px;
}

.text {
    width: 50%;
}

li {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 12px;
}

li img {
    width: 10%;
}