.style {
    border-collapse: collapse;
    width: 100%;
}

.style td, .style th {
    border: 1px solid #ddd;
    padding: 8px;
}

.style tr:nth-child(even) {
    background-color: #dff0de;
}

.style tr:hover {
    background-color: rgb(198, 207, 180);
}

.style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(107, 182, 109);
    color: white;
}
